.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgb(255, 243, 243);
  margin: 16px;
}

[class^="ant-col-"] {
  background: transparent;
  border: 0;
}
[class^="ant-col-"] > div {
  background: #00A0E9;
  height: 120px;
  line-height: 120px;
  font-size: 13px;
}
pre {
  background: #c5c5c5;
  border-radius: 6px;
  font-size: 13px;
  padding: 8px 16px;
}
